<footer class="container-fluid">

  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <p>&copy 2022 Adorable Tinies - becausee we love animals</p>
    </div>
    <div>
      <ul class="list-inline" id="footerIcons">
        <li class="list-inline-item p-2">
          <a href="#"><i class="fa-brands fa-facebook-square"></i>
          </a></li>
        <li class="list-inline-item p-2">
          <a href="#"><i class="fa-brands fa-twitter-square"></i>
          </a></li>
        <li class="list-inline-item p-2">
          <a href="#"><i class="fa-brands fa-instagram-square"></i>
          </a></li>
        <li class="list-inline-item py-2">
          <a href="#"><i class="fa-brands fa-pinterest-square"></i>
          </a></li>
      </ul>
    </div>
  </div>
</footer>
