<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNavbar">
    <div class="nav-item dropdown">
    <a class="navbar-brand nav-link dropdown-toggle" href="#" id="navbarDropdown"
     role="button" data-bs-toggle="dropdown" aria-expanded="false">Adorable Tinies</a>
<!-- dropdown is not working at the moment -->
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Feeding Needs</a></li>
      <li><a class="dropdown-item" href="#">Health & Medicine</a></li>
      <li><a class="dropdown-item" href="#">Grooming & Hygiene</a></li>
      <li><a class="dropdown-item" href="#">Toys % Accessories</a></li>
      <li><a class="dropdown-item" href="#">Toilets & Beddings</a></li>
      <li><a class="dropdown-item" href="#">Travel/Transportation</a></li>
    </ul>
    </div>
<!-- end of dropdown -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a href="#" class="nav-link">DOGS</a>
        </li>
        <li class="nav-item px-2">
          <a href="#" class="nav-link">CATS</a>
        </li>
        <li class="nav-item px-2">
          <a href="#" class="nav-link">SMALL MAMMALS</a>
        </li>
        <li class="nav-item px-2">
          <a href="#" class="nav-link">BIRDS</a>
        </li>
        <li class="nav-item px-2">
          <a href="#" class="nav-link">AQUATIC</a>
        </li>
        <li class="nav-item px-2">
          <a href="#" class="nav-link">REPTILES</a>
        </li>
      </ul>

<!-- Search -->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
</nav>
